name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # JOB 1: RUN TESTS
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    
    # Install Dependencies & Browsers
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-playwright
        playwright install --with-deps

    # Start Server & Run Tests
    - name: Run Tests
      run: |
        uvicorn app.main:app --host 127.0.0.1 --port 8000 &
        sleep 10
        pytest

  # JOB 2: SECURITY SCAN
  security:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    
    - name: Install Security Tools
      run: |
        pip install bandit

    - name: Run Bandit Scan
      # Scans the 'app' folder for security issues
      # -ll means 'log level' (only show important things)
      run: bandit -r app -ll

  # JOB 3: Deploy
  deploy:
    # Requires BOTH Test and Security to pass
    needs: [test, security]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: am3696/final_project:latest